<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--
    css는 header, js는 footer에 둠
    → html은 위에서 아래로 읽으므로 head가 실행된 뒤 body가 실행됨
    → head가 다 불리지 않으면 백지만 보임
    → js 용량이 클수록 body의 실행이 늦어지므로 js는 body 하단에 두어서 화면이 다 그려진 뒤에 호출시키는 것이 좋음
    → css는 화면을 그리는 역할이므로 head에서 불러오는 것이 좋음
    -->
</head>
<body>